* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    padding: 80px;
    text-align: center;
    background: #264992;
    color: white;
}

.header h1 {
    font-size: 40px;
    
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.side {
    border-right: 1px solid black;
    -ms-flex: 30%;
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
.imageCity {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
.city {
    width: 100%;
    height: 50px;
    border: 1px solid rgb(70, 70, 80);
    text-align: center;
    padding: 15px;
    overflow-y: auto;
}

.main {
    -ms-flex: 70%;
    flex: 70%;
    background-color: white;
}

.general-info {
    text-align: center;
    background-color: rgb(78, 172, 231);
    width: 100%;
    height: 500px;
    border: 1px solid rgb(27, 148, 223);
}
.content{
    position: relative;
    text-align: center;
    color: white;
}
.status {
    font-size: 2rem;
    font-weight: bold;
    color: #f1f1f1;
    margin-top: 20px;
}
.summary {
    font-size: 1.5rem;
    color: #f1f1f1;
    font-weight: normal;
    margin-top: 10px;
}


   

.detail {
    display: flex;
    flex-direction: column;
  justify-content: last baseline;
    color: #f1f1f1;
    flex-basis: 0;
    flex-grow: 1;
    overflow-wrap: normal;
    padding: 20px;
}

.day {
    background-image: url("img/day.png");
    background-size: cover;
    opacity: 0.5;
}

.night {
    background-image: url("img/night.png");
    background-size: cover;
    
}

.bignight {
    background-image: url("img/vincentiu-solomon-ln5drpv_ImI-unsplash.jpg");
    background-size: cover;
  
}

.bigday {
    background-image: url("img/6649503.png");
    background-size: cover;
}
.low:hover{
    background-color: green;
}
.medium:hover{
background-color:rgb(230, 230, 148);

}
.high:hover{
background-color: red;
}
.detail-section {
    display: flex;
    justify-content: space-between;
    position: absolute; 
    bottom: 0;
    color: #f1f1f1; 
    width: 70%;
    padding: 20px; 
   padding-bottom: 30px;

}
.detail .title {
    font-size: 1rem;
    flex-grow: 1;
    color: #f1f1f1;
    font-weight: bold;
}

.detail .value{
    font-size: 1rem;
    margin-top: 20px;
    color: #f1f1f1;
    font-weight: bold;
}
h2 {
    font-size: 1.5rem;
    color: #1b1a1a;
    font-weight: bold;
}
.weekdays{
    color: #f1f1f1;
    text-align: center;
}
.daytemp{
    font-size: 2.0rem;
    position: relative;
    text-align: center;
    padding: 35px;
}

.icon-container{
  
   border-radius: 50%;
   display:inline;

  }
.workdays {
    text-align: justify;
}

.weekdays {
    display: inline-block;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 150px;
    height: 220px;
    border: 1px solid blue;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
  }

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}