* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    padding: 80px;
    text-align: center;
    background: #264992;
    color: white;
}

.header h1 {
    font-size: 40px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.side {

    border-right: 1px solid black;
    -ms-flex: 30%;
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.city {
    width: 100%;
    height: 50px;
    border: 1px solid rgb(70, 70, 80);
    text-align: center;
    padding: 15px;

    
}

.main {
    -ms-flex: 70%;
    flex: 70%;
    background-color: white;
    
}

.general-info {
   text-align: center;
    background-color: rgb(78, 172, 231);
    width: 100%;
    height:500px;
    border: 1px solid rgb(27, 148, 223);
}

.header-icon{
     width: 100%;
    background-color: #264992;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.icon-container{
    background-color: rgb(78, 172, 231);
    border-radius: 50%;
    display:inline;
 
   }
   .status{
       font-size: 2rem;
       font-weight: bold;
       margin-top: 20px;
   }
   .summary{
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 10px;
   }
   .detail-section{
       display: flex;
       justify-content: space-between;
       margin-top: 40px;
   }
   .detail{
       display: flex;
       flex-direction: column;
       align-items: center;
       flex-basis: 0;
       flex-grow: 1;
       padding: 20px;
   }
   .day{
     content: url("img/day.png");  
   }
   .night{
    content: url("img/night.png");  
   }
   .detail .title{
       font-size: 1rem;
       flex-grow: 1;
       font-weight: bold;
   }
   .detail .value, h2{
       font-size: 1rem;
       margin-top: 20px;
       font-weight: bold;
   }
   .detail .bordered{
       
       border-left: 1px solid black;
       border-right: 1px solid black;
   }
  

.imageCity {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.weekdays {
    display: inline-block;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 150px;
    height: 220px;
    border: 1px solid blue;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;

    }
}